
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1,h2,h3,p {
    margin: 0;
    padding:0;
  }
  

  
  /* ---- typography ---- */
h1,h2 {
    text-align: center;
    line-height: 3em;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    color: blue;
    font-size: 2 em;
}

button{
    font-size: 2.5em;
}
/* ---- layout ---- */
#wrapper {
    padding:5%;
}
#gui {
    width:800px;
}

#game-preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.displayStatus{
    font-size: 1.5em;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    padding:10px;
}

.displayStatus p{
    display: flex;
    justify-content: space-around;
}

/* ---- components ---- */
#game-preview img{
    width:100%;
}

.game-buttons{
    display:flex;
    justify-content: center;
}

.tower-button{
    background:lightgray;
    color:black;
    font-size: 1em;
    padding:5px;
    font-weight: bold;
    flex:1 0 auto;
}


#game-preview button {
    color: white;
    background: darkblue;
  }
  

